In [70]:
#import libraries
import pandas as pd
from datetime import datetime

#library that contains punctuation
import string

# load the data to dataframe 1 & 2
df =  pd.read_csv('source_1.csv')
df1 =  pd.read_csv('source_2.csv')

In [71]:
def match_func(df,df1):
    
    #transform contents to lower case
    df['name'] = df['name'].str.lower()
    df1['name'] = df1['name'].str.lower()
    
    #creating new column 
    df['copy_of_id']=df['id']
    df1['copy_of_id']=df1['id']
    
    #text preprocessing
    string.punctuation
    
    #defining the function to remove punctuation
    def remove_punctuation(text):
        punctuationfree="".join([i for i in text if i not in string.punctuation])
        return punctuationfree
    #storing the puntuation free text
    df['clean']= df['name'].apply(lambda x:remove_punctuation(x))
    
    #use a .lower() lookup function to to effectively scan and Match the large dataset without Memory burst 
    def lookup(x, values):
        for value in values:
            if value.lower() in x.lower():
                return value
            
    #add an extra column to df where the matched values from df1 are stored
    df['matched'] = df['clean'].apply(lambda x: lookup(x, df1['name']))

    
    #do away with the duplicates
    df = df.drop_duplicates(subset=['matched'])
    df1 = df1.drop_duplicates(subset=['name'])
    
    df2 =df.merge(df1['copy_of_id'])
    
    df2["copy_of_id"] = ""
    
    
    #rename df1 columns
    df1.rename(columns={'id': 'id', 'name': 'matched',  'copy_of_id': 'copy_of_id'}, inplace=True)
    
    # merge the two dataframes is the main thing
    df3 = df2.merge(df1[['matched', 'copy_of_id']], how='left', on='matched')
    
    ## delete the column : name,id_2_x,clean,A
    df4=df3.drop(labels=['name', 'copy_of_id_x','clean','matched'], axis=1)
    df4.rename(columns={'id':'source_1','copy_of_id_y':'source_2'}, inplace=True)
    
    #export df4 to csv
    df4.to_csv(r'kenkingmukabi@gro-intelligence.com.csv', index = False)
    
    return df4

In [72]:
start_time = datetime.now()

#apply our created function "match_func" on the data
df_test = match_func(df,df1)

end_time = datetime.now()

#print out time taken to execute
print('Duration: {}'.format(end_time - start_time))

Duration: 0:00:48.083789

/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [73]:
df_test.head()

   source_1  source_2
0         0   20833.0
1         1   29911.0
2         6    2921.0
3        12    9050.0
4        12   39154.0